body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #aaa;
}
.gridDiv {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto 1fr;
	align-items: center;
	gap: 50px;

	width: 80vw;
	height: 80vh;
	margin: 80px auto;
}

/*
===========
  SLIDERS
===========
*/

.sliderCont {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	align-items: start;
	gap: 10px;
	width: 90%;
}

.sliderCont label {
	grid-column: 1;
	grid-row: 1;
}

.sliderCont span {
	grid-column: 2;
	grid-row: 1;
	text-align: right;
}

.sliderCont input {
	grid-column: 1 / 3;
	grid-row: 2;
}

.gravitySliderCont {
	grid-column: 1;
	grid-row: 1;
}
.frequencySliderCont {
	grid-column: 2;
	grid-row: 1;
}
.speedSliderCont {
	grid-column: 3;
	grid-row: 1;
}

/*
==========
  INPUTS
==========
*/

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 18px;
	/*background: linear-gradient(
		to right,
		#222 var(--pos, 50%),
		#777 var(--pos, 50%)
	);*/
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background: transparent;
}
input[type="range"]::-moz-range-thumb {
	appearance: none;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background: transparent;
}
/*
input::-webkit-slider-runnable-track {
	height: 8px;
	background: transparent;
	pointer-events: none;
}
input::-moz-range-track {
	height: 8px;
	background: #777;
	pointer-events: none;
}*/

/*
==========
  CANVAS
==========
*/

#mainCanvas {
	grid-column: 1 / 4;
	grid-row: 2;
	background-color: #222;
	margin: 0;
	width: 100%;
	height: 100%;
}
